<div class="kp-planetary-details-container px-4 pt-6 pb-4 w-full max-w-[900px] mx-auto text-xs">
    <h1 class="text-center text-xl font-semibold mb-4 pb-2" style="color: #724121;">
        <%= customer.lang === 'hi' ? 'केपी ग्रह विवरण' : 'KP Planetary Details' %>
    </h1>

    <div class="mb-6">
        <div class="overflow-x-auto border rounded-md">
            <table class="min-w-full table-auto border-collapse">
                <thead>
                    <tr class="text-white" style="background-color: #724121;">
                        <th class="py-2 px-3 text-left"><%= customer.lang === 'hi' ? 'ग्रह' : 'Planets' %></th>
                        <th class="py-2 px-2 text-center">R</th>
                        <th class="py-2 px-2 text-center"><%= customer.lang === 'hi' ? 'राशि' : 'Sign' %></th>
                        <th class="py-2 px-2 text-center"><%= customer.lang === 'hi' ? 'अंश' : 'Degrees' %></th>
                        <th class="py-2 px-2 text-center"><%= customer.lang === 'hi' ? 'राशि स्वामी' : 'Sign Lord' %></th>
                        <th class="py-2 px-2 text-center"><%= customer.lang === 'hi' ? 'भाव' : 'House' %></th>
                    </tr>
                </thead>
                <tbody>
                    <% KP_PlanetaryDetails.data.planets.forEach(row => { %>
                        <tr class="bg-white even:bg-[#f4f4f4]">
                            <td class="px-3 py-1 font-semibold" style="color: #724121;">
                                <% if (customer.lang === 'hi') { %>
                                    <% if (row.name === 'Sun') { %>सूर्य
                                    <% } else if (row.name === 'Moon') { %>चंद्रमा
                                    <% } else if (row.name === 'Mars') { %>मंगल
                                    <% } else if (row.name === 'Mercury') { %>बुध
                                    <% } else if (row.name === 'Jupiter') { %>बृहस्पति
                                    <% } else if (row.name === 'Venus') { %>शुक्र
                                    <% } else if (row.name === 'Saturn') { %>शनि
                                    <% } else if (row.name === 'Rahu') { %>राहु
                                    <% } else if (row.name === 'Ketu') { %>केतु
                                    <% } else { %><%= row.name %><% } %>
                                <% } else { %>
                                    <%= row.name %>
                                <% } %>
                            </td>
                            <td class="px-2 py-1 text-center" style="color: #724121;"><%= row.is_retro %></td>
                            <td class="px-2 py-1 text-center" style="color: #724121;"><%= row.sign %></td>
                            <td class="px-2 py-1 text-center" style="color: #724121;"><%= row.full_degree %></td>
                            <td class="px-2 py-1 text-center" style="color: #724121;"><%= row.rashi_lord %></td>
                            <td class="px-2 py-1 text-center" style="color: #724121;"><%= row.house %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <div class="overflow-x-auto border rounded-md">
            <table class="min-w-full table-auto border-collapse">
                <thead>
                    <tr class="text-white" style="background-color: #724121;">
                        <th class="py-2 px-3 text-left"><%= customer.lang === 'hi' ? 'ग्रह' : 'Planets' %></th>
                        <th class="py-2 px-2 text-center"><%= customer.lang === 'hi' ? 'नक्षत्र' : 'Nakshatra' %></th>
                        <th class="py-2 px-2 text-center"><%= customer.lang === 'hi' ? 'नक्षत्र स्वामी' : 'Nakshatra Lord' %></th>
                        <th class="py-2 px-2 text-center"><%= customer.lang === 'hi' ? 'चरण' : 'Charan' %></th>
                        <th class="py-2 px-2 text-center"><%= customer.lang === 'hi' ? 'उप स्वामी' : 'Sub Lord' %></th>
                        <th class="py-2 px-2 text-center"><%= customer.lang === 'hi' ? 'उप-उप स्वामी' : 'S-S Lord' %></th>
                    </tr>
                </thead>
                <tbody>
                    <% KP_PlanetaryDetails.data.planets.forEach(row => { %>
                        <tr class="bg-white even:bg-[#f4f4f4]">
                            <td class="px-3 py-1 font-semibold" style="color: #724121;">
                                <% if (customer.lang === 'hi') { %>
                                    <% if (row.name === 'Sun') { %>सूर्य
                                    <% } else if (row.name === 'Moon') { %>चंद्रमा
                                    <% } else if (row.name === 'Mars') { %>मंगल
                                    <% } else if (row.name === 'Mercury') { %>बुध
                                    <% } else if (row.name === 'Jupiter') { %>बृहस्पति
                                    <% } else if (row.name === 'Venus') { %>शुक्र
                                    <% } else if (row.name === 'Saturn') { %>शनि
                                    <% } else if (row.name === 'Rahu') { %>राहु
                                    <% } else if (row.name === 'Ketu') { %>केतु
                                    <% } else { %><%= row.name %><% } %>
                                <% } else { %>
                                    <%= row.name %>
                                <% } %>
                            </td>
                            <td class="px-2 py-1 text-center" style="color: #724121;"><%= row.nakshatra %></td>
                            <td class="px-2 py-1 text-center" style="color: #724121;"><%= row.nakshatra_lord %></td>
                            <td class="px-2 py-1 text-center" style="color: #724121;"><%= row.nakshatra %></td>
                            <td class="px-2 py-1 text-center" style="color: #724121;"><%= row.sub_lord %></td>
                            <td class="px-2 py-1 text-center" style="color: #724121;"><%= row.sub_sub_lord %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>